* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: none;

}

.container-historia {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.9)
    ),
    url(../img/mulheres.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 30px;
}

h2,
.titulo h1 {
  font-family: "Nunito";
  padding: 45px 0 30px 20px;
  color: #321e25;
}

.titulo h1 {
  font-size: 40px;
}

.nome-empresa {
  color: #663845;
  font-weight: bold;
}

.container-historia p {
  text-align: left;
  text-indent: 2em;
  line-height: 1.5em;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 1em;
  padding: 0 20px;
}

h2 {
  font-size: 35px;
}

.evento p,
.container-fundadoras p {
  font-size: 20px;
  text-align: left;
  text-indent: 2em;
  margin-bottom: 1em;
}


.box {
  border-radius: 4%;
  margin: 20px;
  background: linear-gradient(to bottom, #8b4e5e, #321e25);
}

.box h6 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
}

.box p {
  color: #ffffff;
  font-size: 17px;
  line-height: 1.5em;
  padding: 17px;
}


iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*mobile */

@media (min-width: 320px) {

  /*container-história*/

  .container-historia {
    background-position: 35%;
    padding: 10px;
  }

  .titulo {
    margin: 0;
    position: relative;
  }

  .sublinhado-historia {
    position: absolute;
    width: 300px;
    padding: 15px 0 10px 30px;
  }

  h2,
  .titulo h1 {
    text-align: left;
    padding: 45px 0 30px 30px;
  }

  .evento p,
  .container-historia p {
    text-indent: 1.5em;
    font-size: 22px;
    margin-bottom: 1.5em;
  }

  .container-historia p {
    padding: 20px 10px;
  }

  /*container-fundadoras */

  .sublinhado-fundadoras {
    position: absolute;
    width: 255px;
    padding: 15px 0 10px 30px;
  }

  .container-fundadoras p {
    text-indent: 1.5em;
    font-size: 22px;
    padding: 40px 10px 10px;
  }

  .evento,
  .fundadoras {
    padding: 10px;
  }

  .box {
    margin-bottom: 10px;

  }

  .box {
    margin: 0 0 10px 0;
    
  }

  .box img {
    width: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .box-fundadoras p {
    font-size: 18px;
    line-height: 1.5em;
    padding: 30px 10px 10px;
    text-indent: 1em;
    text-align: left;
  }



  /*container-evento*/

 .sublinhado-evento {
   position: absolute;
  width: 180px;
  padding: 20px 0 10px 30px;
 }

  .evento h2 {
    font-size: 40px;
    padding: 20px 0 40px 35px;
    text-align: left;
  }

  .evento p {
    padding: 20px 10px;
  }

  iframe {
    border: 4px ridge #8b4e5e;
    width: 100%;
    height: 245px;
  }

  .creditos {
    padding-right: 0;
    padding-top: 15px;
  }
}



@media (min-width: 480){

  iframe {
    width: 80%;
    height: 400px;
  }
}

/* Tablet*/

@media (min-width: 768px) {

   /*container-história*/

   .sublinhado-historia {
    width: 320px;
    padding: 15px 20px;
  }

  .titulo h1 {
    padding: 55px 0 30px 30px;
  }


  .container-historia p {
    padding: 10px 0 0 0;
  }

  /*container-fundadoras */
  .fundadoras {
     display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    
  }

  .box {
    width: 400px;  
    margin-bottom: 30px;    
  }

  .box p {
    padding: 15px 20px;
  }

    /*container-evento*/

  iframe {
    border: 4px ridge #8b4e5e;
    width: 80%;
   
    height: 400px;
  }
  

} 

/* Desktop */
@media (min-width: 1068px) {

    /*container-história*/
  .container-historia {
    padding: 3em;
  }

  iframe {
    border: 7px ridge #8b4e5e;
    width: 60%;
   
  }

}
