* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(53, 53, 53);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 120vh;
  background-color: #F2F2F2;
}


/* ---------------------- INÍCIO HEADER (Menu) ---------------------- */

/*Container menu*/
.container-menu {
  background: url("../img/barra-menu-horizontal.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 190px;
}

/*Logo EmpreendElas*/
.logo-btn {
  margin-left: 100px;
  padding-top: 50px;
  width: 480px;
  opacity: .8;
}

.logo-btn-mobile {
  display: none;
}

/*Itens_Menu*/

.menu-secoes {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 20px;
  text-align: right;
}

.menu-secoes a:visited {
  color: white;
}

/*Efeito_Menu*/
.menu-secoes:hover {
  padding-top: 5px;
  transition: all 0.3s ease;
}

/* ---------------------- FIM HEADER (Menu) ---------------------- */


/* ---------------------- INÍCIO CONTEÚDO HOME ---------------------- */


/*Texto*/

/* .secao-conteudo {
  margin-top: 20px;
  margin-left: 60px;
  max-width: 30%;
} */

 .titulo-principal {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 90px;
  color:#c06378;
  text-shadow: 1.1em.3em 0.1em #92597823;
  } 

.secao-conteudo-textos {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color:#5B5B5B;
  text-shadow: none;
}



.secao-conteudo-botao a {
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 20px;
  align-items: center;
  text-align: center;
  background: #E894A7;
  border-radius: 25px;
}

.secao-conteudo-botao a:hover {
  background-color: darkgray;
  padding: 6px 20px 6px 70px;
  transition: all 0.4s ease;
}



/*----------------------CONTEÚDO PATROCINE------------------- */

/*Botões*/
.btn-secondary{
  background-color: #663845;
  color: whitesmoke;
  border-color: #c06378;

}

.btn-secondary:hover{
  background-color: #8b4e5e;
  border-color: #c06378;
 
}

.btn-secondary:focus{
  color: whitesmoke;
  background-color: #c06378;
 
}

.alinhar-botao-patrocine{
  display: flex;
  justify-content: center;
}

/*Tamanho das duas imagens (trabalho-patrocine.png e mulheres-incriveis.png)*/
.mulher-ecommerce img{
  width: 700px;
  height: auto;
}

.mercado-patrocine img{
  width: 200px;
  height: auto;
}

/*Posicionar a primeira imagem*/
.posicionar{
  display: flex;
  justify-content: center;
}

.rounded-circle{
width: 180px;
height: auto;
}

/*Fundo inicio*/
/* .secao-conteudo-patrocine{
  width: 100vw;
} */

.tamanho-tela{
  height: 100%;
}

.bloco-patrocine article{
  margin-left: 15rem!important;
}

.secao-conteudo-patrocine {
  height: 100vh;
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, .85), rgba(255, 255, 255, 1)),
  url('');
  background-size: cover;
}

/*Formatos do links vakinhas*/
 .links{
  color:#663845;
  font-weight: 600;
  font-size: 16px;
  
}

.links:hover{
  color: #c06378;
  text-decoration: none;
  padding-top: 19px;
  transition: all 0.9s ease-in-out;
}

.titulo-principal-patrocine {
  color: #663845;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  padding: 10px 0 15px 0;
  text-shadow: 1.1em.2em 0.1em #92597823;
}

.subtitulo-patrocine{
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: #663845;
  font-size: 2.7rem;
}

h4{
  color:#8b4e5e;
  font-weight: 600;
}

.espaco-patrocine{
  margin-bottom: 15rem;
}


/*Backgrounds da Aba*/
.fundo-patrocine{
 background-color: #321e2563;
 border-radius: 5em;
}

.fundo-info {
  background-color: rgba(252, 212, 220, 0.289); 
} 

.fundo-inicio {
   background-color: #fcd4dc; 
  
} 

.background-patrocine{
  background-image: url(../img/barra-menu-horizontal-patrocine.png);
   background-repeat: no-repeat;
  background-position: bottom center;
  
}

.background-patrocine-direita{
  background-image: url(../img/barra-menu-horizontal-patrocine.png);
   background-repeat: repeat;
  background-position: bottom right ;
  
}

.background-patrocine-esquerda{
  background-image: url(../img/barra-menu-horizontal-patrocine.png);
   background-repeat: repeat;
  background-position: bottom left ;
}





/* Contato 
.form-control{
  width: 50%;
  margin-left: 15em;
}

input .form-control-margem{
  margin-left: 2em;
} */

/* ---------------------- FIM CONTEÚDO ---------------------- */


/* ---------------------- INÍCIO FOOTER ---------------------- */


/*Footer*/
.container-footer {
  background: url("../img/Retângulo_footer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
}

/*Footer_Midias*/
.footer-midias {
  color: #f1b8c6;
  float: left;
  padding-top: 130px;
  margin-left: 100px;
  font-size: 20px;
  text-align: end;
}

.fa-envelope,
.fa-facebook,
.fa-instagram,
.fa-youtube {
  color:  #f1b8c6;
  padding: 0 20px 0 0;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-envelope:hover {
  color: #f1b8c6;
  text-shadow: 0 0 8px #f1b8c6;
  transition: all 0.4s ease;
}

/*Footer Créditos*/
.creditos {
  color: #f1b8c6;
  padding-top: 130px;
  padding-right: 20px;
  text-align: end;
  padding-bottom: 20px;
}

.creditos a:link,
.creditos a:visited {
  color:  #f1b8c6;
  text-decoration: none;
}

.creditos a:hover {
  color:  #f0d7dd;
  
}

/*Código para fixar footer no fim da página*/
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container-site {
  flex: 1;
}

/*Fim do código para fixar footer no fim da página*/

/* ---------------------- FIM FOOTER ---------------------- */


/* ---------------------- INÍCIO CONFIGURAÇÕES RESPONSIVAS ---------------------- */


/* Notebook */
@media (max-width: 1360px) {

  body {
  
    background-position-x: right;
    background-size: 90vh;
  }

  .logo-btn {
    margin-left: 150px;
    width: 400px;
  }

  .menu-secoes {
    font-size: 18px;
  }

  .secao-conteudo {
    max-width: 50%;
  }

  /*Aba Patrocine*/
  html,body{
    font-size: 20px;
  }

 
}

@media (max-width: 1150px) {

  .logo-btn {
    margin-left: 100px;
    width: 380px;
  }

}

@media (max-width: 1050px) {

  .logo-btn {
    margin-left: 100px;
    width: 340px;
  }

   /*Aba Patrocine*/
   html,body{
    font-size: 20px;
  }

  .tamanho-tela{
    height: 100%;
  }
 /*Aba Patrocine*/
 html,body{
  font-size: 18px;
  }

}

/* Netbook */

@media (max-width: 991px) {

  .container-menu {
    background-repeat: no-repeat;
    background-size: 135%;
    height: 300px;
  }

  .logo-btn {
    margin-left: 200px;
    padding-top: 50px;
    width: 300px;
  }

  .menu-mobile-background {
    background-color: #c06378;
  }

  .navbar-toggler {
    font-size: 1.5rem;
    background-color: #8b4e5e;
    margin-right: 40px;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.8rem;
    padding-left: .8rem;
  }

  .secao-conteudo {
    margin-top: -100px; 
    max-width: 30%;
  }
 
 /*Aba Patrocine*/
 html,body{
  font-size: 16px;
  }

}


/* Tablet */


@media (max-width: 850px) {

  .container-menu {
    background-size: 150%;
    background-position-x: right;
  }

  .secao-conteudo {
    margin-top: -160px;
    max-width: 56%;
  }

}

@media (max-width: 770px) {

  .container-menu {
    background-size: 170%;
    background-position-x: right;
  }

  .logo-btn {
    display: none;
  }

  .logo-btn-mobile {
    display: block;
    width: 100px;
    margin-left: -134px;
  }

  /*Aba Patrocine*/
 html,body{
  font-size: 15px;
  }
}

/* Mobile  */

@media (max-width: 680px) {

  body {
  
    background-size: 80vh;
    background-position-x: center;
  }

  .container-menu {
    background-size: 205%;
    background-position-x: center;
  }

  .container-conteudo {
    height: 80vh;
  }

  .secao-conteudo {
    max-width: 80%;
  }

  .container-footer {
    align-items: center;
    flex-direction: column;
  }

  .footer-midias {
    padding-top: 100px;
    margin-left: 0;
  }

  .creditos {
    padding-right: 0;
    padding-top: 40px;
  }

   /*Aba Patrocine*/
 html,body{
  font-size: 14px;
  }
}