* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(53, 53, 53);
  background-image: url("../img/big_women.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 56%;
  background-color: #F2F2F2;
}


/*Header*/
.container-site{
  background: url("../img/barra-menu-horizontal.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -120px;
  height: 290px;
  display: flex;
  position: relative;
}

.secao-menu{
  max-width: 1300px;
  margin: 0 auto;
}

/*Logo EmpreendElas*/
.logo-btn {
  padding-left: 0;
  margin-top: 250px;
  width: 70%;
}

/*Posição do Menu*/
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  color: white;
}

nav ul{
  margin-top: 210px;
  display: flex;
}

/*Itens_Menu*/

.menu-principal-secoes {
  list-style: none;
  margin-right: 40px;
}

.menu-principal-secoes li a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: white;
  padding-left: 40px;
  font-size: 20px;
}

/*Efeito_Menu*/
.menu-principal-secoes,
.menu-principal a:link,
.menu-principal a:visited {
  color: white;
}

.Home:hover,
.Sobre:hover,
.Empreendedoras:hover,
.Podcast:hover,
.Apoie:hover,
.Dicas:hover {
  color: #f1b8c6;
  font-weight: 900;
  margin-left: 4px;
  transition: all 0.3s ease;
  text-decoration: none;
}

/*Texto*/
.secao-conteudo {
  height: 15vh;
  background-size: cover;
}

.secao-conteudo-textos {
  margin-top: 35px;
  margin-left: 60px;
}

.titulo-principal {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 90px;
  color:#8B4E5E;
  text-shadow: 0.1em 0.1em 0.2em #925978;
  }

.secao-conteudo-textos p {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 19px;
  line-height: 25px;
  color:#5B5B5B;
  text-shadow: none;
}

.secao-conteudo-textos a {
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  font-size: 25px;
  padding: 10px 30px;
  align-items: center;
  text-align: center;
  background: #E894A7;
  border-radius: 25px;
}


/*Footer*/
footer {
  background: url("../img/Retângulo_footer.svg");
  background-repeat: no-repeat;
  margin-top: -100px;
  background-size: 100%;
  height: 500px;
}

/*Footer_Midias*/
.menu-midias {
  color: #f1b8c6;
  padding-top: 410px;
  float: left;
  margin-left: 90px;
  font-size: 20px;
  text-align: end;
}

.fa-envelope,
.fa-facebook,
.fa-instagram,
.fa-youtube {
  color:  #f1b8c6;
  padding: 0 20px 0 0;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #f1b8c6;
  text-shadow: 0 0 8px #f1b8c6;
  transition: all 0.4s ease;
}

/*Footer_Creditos*/
.creditos {
  color: #f1b8c6;
  padding-top: 420px;
  padding-right: 20px;
  text-align: end;
}

.creditos a:hover,
.creditos a:link,
.creditos a:visited {
  color:  #f1b8c6;
  text-decoration: none;
}



/*MOBILE*/

@media (max-width: 480px) {
}

@media (max-width: 770px) {
  .secao-menu {
    background-image: url("../img/barra-menu-horizontal.svg");
    width: 100vw;
    position: absolute;
  }

  .menu-principal-logo {
    display: none;
  }

  .menu-principal-logo-mobile {
    display: block;
    width: 60px;
    margin-top: 15px;
  }

  .menu-principal-logo-mobile-img {
    width: 100%;
  }

  .menu-principal {
    display: flex;
    justify-content: center;
  }

  .menu-principal-secoes li {
    margin-left: 10px;
    padding: 0px 0 0 0;
  }

  .menu-principal-secoes {
    flex-direction: row;
    align-items: center;
  }

  .menu-midias {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .secao-conteudo-textos {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 150px;
  }
